#dataviz {
    border:1px solid lightgrey;
}

#graph {
    margin:10px 0 30px 0;
}

#graph .axis {
    color:darkgrey;
}

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.plant-icon {
    margin: 0px 5px;
}

.user {
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.user-email {
    margin: 10px 0px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.pie-charts {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.hidden {
    display: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 15px 5px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
    cursor: pointer;
}

.plant-icon {
	vertical-align: middle;
    margin:0px 5px;
    color: #98fc03 !important;
}

.plant-settings {
	vertical-align: middle;
	margin:0px 5px;
    float: right;
}
.plant-settings:hover {
	color: #FFF !important;
}