.login-card
  width: 50vw
  max-width: 400px
  max-height: 400px
  .header-image
    background-image: url('../../assets/img/avatar.jpg')
    background-size: cover
  .form-field
    width:100%
      
mat-tab-group.tabs form
  margin-top: 10px