<mat-grid-list cols="1" rows="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="login-card mat-elevation-z4">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Plant Monitor</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field class="form-field">
            <mat-label>Enter your email</mat-label>
            <input #username matInput (blur)="updateUsername(username.value)" (keyup)="updateUsername(username.value)">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="form-field">
            <mat-label>Enter your password</mat-label>
            <input #password matInput [type]="hide ? 'password' : 'text'" (blur)="updatePassword(password.value)" (keyup)="updatePassword(password.value)">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"(click)="login()">LOGIN</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>