<form class="esp-config-form" [formGroup]="config.espConfigForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>wifi</mat-icon> WiFi Configuration </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="formfield half-width">
        <mat-label>WiFi SSID</mat-label>
        <input matInput placeholder="Wifi SSID" formControlName="wifiSSID" />
      </mat-form-field>
      <mat-form-field class="formfield half-width">
        <mat-label>Wifi Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="WiFi Password"
          formControlName="wifiPassword"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>storage</mat-icon> Firebase Configuration </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="formfield half-width">
        <mat-label>Firebase Username</mat-label>
        <input
          matInput
          placeholder="Firebase Username"
          formControlName="fbUsername"
        />
      </mat-form-field>
      <mat-form-field class="formfield half-width">
        <mat-label>Firebase Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Firebase Password"
          formControlName="fbPassword"
        />
      </mat-form-field>
      <mat-slide-toggle
        [checked]="config.customFirebaseHosting"
        (change)="config.customFirebaseHosting = !config.customFirebaseHosting"
        class="formfield"
        >Custom Firebase Hosting</mat-slide-toggle
      >
      <br />
      <mat-form-field
        *ngIf="config.customFirebaseHosting"
        class="formfield half-width"
      >
        <mat-label>Firebase Host</mat-label>
        <input matInput placeholder="Firebase Host" formControlName="fbHost" />
      </mat-form-field>
      <mat-form-field
        *ngIf="config.customFirebaseHosting"
        class="formfield half-width"
      >
        <mat-label>Firebase API Key</mat-label>
        <input
          matInput
          placeholder="Firebase API Key"
          formControlName="fbAPIKey"
        />
      </mat-form-field>

      <mat-slide-toggle
        [checked]="config.customFlashingSettings"
        (change)="config.customFlashingSettings = !config.customFlashingSettings"
        class="formfield"
        >Custom Flashing Settings</mat-slide-toggle
      >
      <br />
      <form class="flash-config-form" [formGroup]="config.flashConfigForm" ngNativeValidate *ngIf="config.customFlashingSettings">
        <mat-slide-toggle formControlName="bootloader" class="full-width">Bootloader</mat-slide-toggle>
        <mat-slide-toggle formControlName="partitionTable" class="full-width">Partition Table</mat-slide-toggle>
        <mat-slide-toggle formControlName="nvsPartition" class="full-width">NVS Partition</mat-slide-toggle>
        <mat-slide-toggle formControlName="app" class="full-width">Plant Monitor App</mat-slide-toggle>
      </form>
    </mat-card-content>
  </mat-card>
</form>
