<mat-toolbar color="primary" class="mat-elevation-z6 main-toolbar">
  <button mat-button [routerLink]="['']">
    <span class="material-icons">local_florist</span>
    Dashboard
  </button>
  <button mat-button [routerLink]="['webesp']">
    <span class="material-icons">
      cable
    </span>
    Programmer
  </button>
  <span class="navbar-spacer"></span>
  <button mat-raised-button color="accent" *ngIf="auth.user | async as user;" (click)="logout()">
    Logout
  </button>
  <button mat-raised-button (click)="openGithub()">
    GitHub
  </button>
</mat-toolbar>
<router-outlet></router-outlet>